<div class="main">
  <div>
      <h4>List of available products</h4>
      <ul>
          <li *ngFor="let item of items">
            <p>{{item.id}}.  {{item.name}}, {{item.price}} €</p>
            <button (click)="addItem(item)">Add</button>
            <button class="remove" (click)="removeItem(item)">Remove</button>
          </li>
      </ul>
  </div>
<div *ngIf="currentBasket.length" >
  <h4> You have <span>{{currentBasket.length}}</span> products in the basket:</h4>
  <ul>
    <li *ngFor="let item of currentBasket">
        <p> Product: {{ item.name }} </p>
        <p> Price: {{ item.price }} € </p>
    </li>
  </ul>
 <h4> Your shopping price is: <span>{{getSum(currentBasket)}} € </span></h4>

</div>
<div *ngIf="!currentBasket.length">
  <h4>The basket is empty</h4>
</div>
</div>